<form #formModel="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Código</mat-label>
    <input
      matInput
      placeholder="Código recebido"
      type="text"
      name="code"
      [(ngModel)]="form.code"
      (ngModelChange)="changeFormValue()"
      required
    />
    <mat-error *ngIf="getControl(formModel, 'code')">{{
      getErrorMessage(formModel, "code")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nova Senha</mat-label>
    <input
      matInput
      [type]="passwordToogleVisibility ? 'password' : 'text'"
      name="newPassword"
      autocomplete="new-password"
      [(ngModel)]="form.newPassword"
      (ngModelChange)="changeFormValue()"
      required
      [minlength]="6"
      [maxlength]="20"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="passwordToogleVisibility = !passwordToogleVisibility"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="passwordToogleVisibility"
    >
      <mat-icon>{{
        passwordToogleVisibility ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <mat-error *ngIf="getControl(formModel, 'newPassword')">{{
      getErrorMessage(formModel, "newPassword")
    }}</mat-error>
  </mat-form-field>

  <div class="form-actions">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!formModel.valid"
      (click)="submit()"
    >
      Entrar
    </button>
  </div>

  <div class="alternative-links">
    <span>
      Se lembra da sua senha?
      <a (click)="goToSignIn()"> Entre agora </a>
    </span>
  </div>
</form>
